{% extends 'layout.html' %}
{% block content %}

<div class="cart_list">
    {% for cart in cart_items %} <br>
       <img src="{{cart.item.item_image.url}}" width="200" alt=""> <br>
       User: {{cart.user.username}} <br>
       Item Name: {{cart.item.item_name}} <br>
       Item Price: {{cart.item.item_price}} <br>
       
       <div class="cart_quantity">
        <form method="POST" action="{% url 'update_cart_item' cart.id %}">
            {% csrf_token %}
            <input type="hidden" name="action" value="increase">
            <button type="submit">+</button>
        </form>
        {{cart.quantity}}
        <form method="POST" action="{% url 'update_cart_item' cart.id %}">
            {% csrf_token %}
            <input type="hidden" name="action" value="decrease">
            <button type="submit">-</button>
        </form>
       </div>  
    {% endfor %}
    <a href="{% url 'home' %}"><button>Home</button></a>

</div>

{% endblock %}
