{% extends 'layout.html' %}
{% block content %}

<div class="categories">
  <a href="{% url 'home' %}"><button>All</button></a>
  {% for category in categories %}
    <a href="{% url 'filter_items' category.id %}" style="padding: 1%;"><button>{{ category.category_name }}</button></a>
  {% endfor %}
</div>

{% for item in items %}
  <div class="item">
    <img src="{{ item.item_image.url }}" style="width:250px;" alt="{{ item.item_name }}">
   <!-- <h1> {{item.id}} </h1> <br> -->
    <h2>{{ item.item_name }}</h2>
    <p>{{ item.item_price }}</p>
    {% if request.user.is_superuser %}
      {% if item.is_available %}
        <a href="{% url 'make_item_unavailable' %}?item_id={{ item.id }}"><button>Make it unavailable</button></a>
      {% else %}
        <a href="{% url 'make_item_available' %}?item_id={{ item.id }}"><button>Make it available</button></a>
      {% endif %}
    {% endif %}
    
    {% if item.is_available %}
    {% if item.id in cart_dict %}
        <a href="{% url 'cart_list' %}"> <button>Cart Page</button></a>
    {% else %}
        <a href="{% url 'cart' item.id %}"><button>Add to Cart</button></a>
    {% endif %}
{% else %}
    <p>This item is currently unavailable</p>
{% endif %}


    
  </div>
{% endfor %}

{% if cart_items %}
  <p>You have {{ cart_items.count }} item(s) in your cart:</p>
  <ul>
    {% for cart_item in cart_items %}
      <li>{{ cart_item.item.item_name }} ({{ cart_item.quantity }})</li>
    {% endfor %}
  </ul>
{% else %}
  <p>Your cart is empty.</p>
{% endif %}


{% endblock %}
