{% extends 'layout.html' %}
{% block content %}
<header>
    <img class="logo" src="../static/img/logo.png" alt="">
    <div class="navbar_elements">
        <a href="{% url 'home' %}" style="padding: 1%;">
            <i class="bi bi-house-fill"></i>
        </a>
        {% for category in categories|slice:":4" %}
        <a href="{% url 'filter_items' category.id %}" style="padding: 1%;">
            <h2 class="categories">{{ category.category_name }}</h2>
        </a>
        {% endfor %}
        {% if categories|length > 4 %}
        <div class="dropdown">
            <button class="dropbtn">
                <h3>More Categories</h3>
            </button>
            <div class="dropdown-content">
                {% for category in categories|slice:"4:" %}
                <a href="{% url 'filter_items' category.id %}">
                    <h3>{{ category.category_name }}</h3>
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="nav-logos">

        <a href="{% url 'user_details' %}">
            <i class="bi bi-person-circle"></i>
        </a>

        {% if request.user.is_logged_in %}
        <a href="{% url 'logout' %}">
            <i class="bi bi-box-arrow-left"></i>
        </a>

        {% else %}
        <a href="{% url 'signin' %}" style="padding: 1%;">
            <i class="bi bi-person-fill"></i>
        </a>
        {% endif %}
        
        <a href="{% url 'cart_list' %}" style="padding: 1%;">
            <i class="bi bi-bag-heart-fill"></i>  
        </a>
    <h4>({{ cart_count }})</h4>
    </div>


</header>



{% endblock %}